In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [8]:
df = spark.read.json("file:///home/amit/Desktop/Untitled-1.json",multiLine=True)

In [9]:
df.show()

+---+------------------+--------------------+
| id|              name|       qualification|
+---+------------------+--------------------+
|  1|   {Amit, Shendge}|[{BE, 2020}, {ME,...|
|  2|  {Mahesh, Sargar}|[{BE, 2021}, {ME,...|
|  3|   {Sujit, Sakpal}|[{BE, 2025}, {ME,...|
|  4|{Hardik, Shettyar}|[{BE, 2024}, {ME,...|
|  5|    {Rajat, Nikam}|[{BE, 2020}, {ME,...|
|  6|    {Suraj, Patil}|[{BE, 2021}, {ME,...|
+---+------------------+--------------------+

In [10]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- First_Name: string (nullable = true)
 |    |-- Last_Name: string (nullable = true)
 |-- qualification: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Degree: string (nullable = true)
 |    |    |-- Year: string (nullable = true)

In [19]:
from pyspark.sql.functions import explode
df1 = df.withColumn("qualifications",explode("qualification"))

In [20]:
df1 = df1.drop("qualification")

In [21]:
df1.show()

+---+------------------+--------------+
| id|              name|qualifications|
+---+------------------+--------------+
|  1|   {Amit, Shendge}|    {BE, 2020}|
|  1|   {Amit, Shendge}|    {ME, 2025}|
|  2|  {Mahesh, Sargar}|    {BE, 2021}|
|  2|  {Mahesh, Sargar}|    {ME, 2026}|
|  3|   {Sujit, Sakpal}|    {BE, 2025}|
|  3|   {Sujit, Sakpal}|    {ME, 2027}|
|  4|{Hardik, Shettyar}|    {BE, 2024}|
|  4|{Hardik, Shettyar}|    {ME, 2026}|
|  5|    {Rajat, Nikam}|    {BE, 2020}|
|  5|    {Rajat, Nikam}|    {ME, 2023}|
|  6|    {Suraj, Patil}|    {BE, 2021}|
|  6|    {Suraj, Patil}|    {ME, 2024}|
+---+------------------+--------------+

In [27]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- First_Name: string (nullable = true)
 |    |-- Last_Name: string (nullable = true)
 |-- qualifications: struct (nullable = true)
 |    |-- Degree: string (nullable = true)
 |    |-- Year: string (nullable = true)

In [35]:
df2 = df1.select("id","name.*","qualifications.*")

In [36]:
df2.show()

+---+----------+---------+------+----+
| id|First_Name|Last_Name|Degree|Year|
+---+----------+---------+------+----+
|  1|      Amit|  Shendge|    BE|2020|
|  1|      Amit|  Shendge|    ME|2025|
|  2|    Mahesh|   Sargar|    BE|2021|
|  2|    Mahesh|   Sargar|    ME|2026|
|  3|     Sujit|   Sakpal|    BE|2025|
|  3|     Sujit|   Sakpal|    ME|2027|
|  4|    Hardik| Shettyar|    BE|2024|
|  4|    Hardik| Shettyar|    ME|2026|
|  5|     Rajat|    Nikam|    BE|2020|
|  5|     Rajat|    Nikam|    ME|2023|
|  6|     Suraj|    Patil|    BE|2021|
|  6|     Suraj|    Patil|    ME|2024|
+---+----------+---------+------+----+

In [40]:
df2.write.parquet("file:///home/amit/practise/JSON_to_parquet")